---
layout: archive
title: "Talks and posters"
permalink: /talks/
author_profile: true
---

{% include base_path %}

<h2 class="publication-section">Keynotes</h2>
{% for post in site.talks reversed %}
  {% if post.type == 'Keynote' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2 class="publication-section">Invited seminars</h2>
{% for post in site.talks reversed %}
  {% if post.type == 'Invited seminar' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2 class="publication-section">Conference talks</h2>
{% for post in site.talks reversed %}
  {% if post.type == 'Conference talk' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2 class="publication-section">Conference posters</h2>
{% for post in site.talks reversed %}
  {% if post.type == 'Poster' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2 class="publication-section">Seminars</h2>
{% for post in site.talks reversed %}
  {% if post.type == 'Seminar' or post.type == 'ECR talk' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
